.vagas {
    padding: 3em;
}

.vagas__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.vagas__subtitulo {
    padding: 0.3em 1em;
    background-color: var(--vermelho-fundo);
    color: var(--vermelho);
    border-radius: 1em;
}

.vagas__titulo {
    color: var(--cinza-titulo);
    font-size: 2.25em;
    font-weight: 600;

    margin: 0.75em;
}

.vagas__texto {
    color: var(--cinza-texto);
    font-size: 1.25em;
    margin-bottom: 3em;
}
.vagas__imagem {
    width: 80%;
}