.vagas {
    padding: 3em 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4em;
}

.talentos__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.talentos__subtitulo {
    padding: 0.3em 1em;
    background-color: var(--vermelho-fundo);
    color: var(--vermelho);
    border-radius: 1em;
}

.talentos__titulo {
    color: var(--cinza-titulo);
    font-size: 2.25em;
    font-weight: 600;

    margin: 0.75em;
}

.talentos__descricao {
    color: var(--cinza-texto);
    font-size: 1.25em;
    margin-bottom: 3em;
}

.talentos__imagem {
    width: 80%;
}

.vagas__container {
    width: 50%;
    display: flex;
    flex-direction: column;   
    gap: 1.5em;
}

.vaga__titulo {
    font-size: 1.25em;
    font-weight: 500;
    color: var(--cinza-titulo);
    margin-bottom: 0.5em;
}

.vaga__descricao {
    padding: 1.5em;
    border: 1px solid var(--cinza-borda);
    border-radius: 1em;
}

.vaga__titulo-cargo {
    font-size: 1.125em;
    font-weight: 500;
    color: var(--cinza-titulo);
    margin-bottom: 2em;
}

.vaga__info {
    font-weight: 500;
    color: var(--cinza-texto);
    margin-right: 1.5em;
}